.center-div {
    margin: 0 auto;
    max-width: 500px;
    /* height: 100px; */
    /* background-color: #ccc; */
    border-radius: 3px;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}