<br><br><br>
<h2 class="text-center">
    SAFEATHON REGISTRATION
</h2>
<br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">


        <div class="row align-items-center">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label> Name</mat-label>
                    <input matInput placeholder="Your Name" formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <!-- <mat-hint>eg.chilakuri karthikeya</mat-hint> -->

                </mat-form-field>

            </div>

            <div class="col">
                <mat-form-field appearance="outline" aria-disabled="true">
                    <mat-label> Email</mat-label>
                    <input matInput placeholder="Your Email" disabled [(ngModel)]="model.email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <!-- <mat-hint>eg.lifeofgirl@gmail.com</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label> Ph No</mat-label>
                    <input matInput placeholder="Your Ph_no" formControlName="ph_no" [ngClass]="{ 'is-invalid': submitted && f.ph_no.errors }">
                    <mat-icon matSuffix>call</mat-icon>
                    <!-- <mat-hint>9000101439</mat-hint> -->
                </mat-form-field>
            </div>

        </div>
        <div class="row align-items-center">
            <div class="col">
                <mat-form-field>
                    <select matNativeControl required name="country" class="countries" id="countryId" formControlName="country">
                    <option value="">Select Country</option>
                  </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <select matNativeControl required name="state" class="states" id="stateId" formControlName="state">
                  <option value="">Select State</option>
                </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <select matNativeControl required name="city" class="cities" id="cityId" formControlName="city">
                <option value="">Select City</option>
              </select>
                </mat-form-field>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
            </div>

            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>College/Organization</mat-label>
                    <input matInput placeholder="College/Organization" formControlName="college" [ngClass]="{ 'is-invalid': submitted && f.college.errors }">
                    <!-- <mat-icon matSuffix>alternate_email</mat-icon> -->
                    <!-- <mat-hint>College/Organization</mat-hint> -->
                </mat-form-field>
            </div>

            <div class="col">
            </div>
        </div>

        <p class="text-center">
            <button mat-stroked-button color="primary">Register</button>
        </p>
    </div>
</form>