<header id="header" id="home" style="background-color: grey" class="">
    <div class="container">

        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="#"><img src="../../../assets/img/logo.png" height="50" width="200" alt="" title="" /></a>
            </div>


            <nav id="nav-menu-container " class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav-menu navbar-nav" id="navbarNav">
                        <li class="nav-item navbar-nav"><a href="#home">My Idea <span class="sr-only">(current)</span></a></li>
                        <li><a href="#videos">Analysis guru</a></li>
                        <li><a href="#speakers">Flash mob</a></li>
                        <li><a href="#schedule">Coding challenge</a></li>
                        <li><a href="#film">Short film</a></li>
                        <li><a href="#pubg">PubG</a></li>
                        <li><a href="#tiktok">TikTok</a></li>
                        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register" class="btn btn-info" routerLinkActive="router-link-active">Register</a></li>
                        <li *ngIf="!authService.isLoggedIn()">
                            <a class="btn btn-info" data-toggle="modal" routerLink="" data-target="#basicExampleModal" routerLinkActive="router-link-active"> 
                        Login
                 </a>
                        </li>

                        <li *ngIf="authService.isLoggedIn()"><a [routerLink]="['/events']" routerLinkActive="router-link-active">Events</a></li>



                        <li *ngIf="authService.isLoggedIn()">
                            <a class="btn btn-info" (click)="logout()"> Logout
                        </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- #nav-menu-container -->
        </div>

    </div>



    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
        Login
  </button> -->

    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Safeathon Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <!-- <div class="modal-body"> -->
                <p class="text-center">
                    Log in WIth <br>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="socialSignIn('google')">Google</button> -->
                    <button class="loginBtn loginBtn--google" data-dismiss="modal" (click)="socialSignIn('google')">
                        Login with Google
                      </button>
                    <!-- <button type="button" class="btn btn-secondary" (click)="socialSignIn('facebook')">Facebook</button> -->
                    <button class="loginBtn loginBtn--facebook" (click)="socialSignIn('facebook')">
                        Login with Facebook
                      </button>
                </p>

                <!-- </div> -->

            </div>
        </div>
    </div>