<!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-9 col-md-12">
                <h1 class="text-white">
                    SAFEATHON
                </h1>
                <div class="countdown">
                    <div id="timer" class="text-white"></div>
                </div>
                <h4><span class="lnr lnr-calendar-full"></span> 14th January, 2019</h4>
                <h4><span class="lnr lnr-map"></span> T-HUB,IIIT-College</h4>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start home-video Area -->
<section class="home-video-area" id="home">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">Imagination is beyond everything</p>
                <h1> My Idea competition <br>
                </h1>
                <p><span> How to make your city the safest? </span></p>
                <p>
                    You would need to write an essay explaining How to make your city the safest.
                    <br> a) A maximum of 30 bullet points or 700 words.
                    <br> b) Alternatively, you may submit a video of 3 to 5 mins duration explaining your point.
                    <br> c) Hardware,Software,Community based solutions are accepted.
                    <br> d) Distinguished panel selects the top ideas and forwards idea to next level. A total of three levels happen.
                    <!--	<br> Registration link :<a href="https://docs.google.com/forms/d/1rdsYVFeqwWkFV5wLNJho1JduFmUvDD-oIV0xP10Ito0/edit?no_redirect=true" 
              target="#" class="heading"><b>CLICK HERE</b></a>   -->
                    <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b>
                </p>
            </div>
            <section class="video-area col-lg-6 no-padding">
                <div class="overlay overlay-bg"></div>
                <div class="containers">
                    <div class="video-content">
                        <img src="../../../assets/img/about3.jpg" alt="" height="300" width="673">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->




<!-- Start home-aboutus Area -->
<section class="home-aboutus-area" id="videos">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding about-left">
                <img class="img-fluid" src="../../../assets/img/about2.jpg" alt="" height="300" width="700">
            </div>
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">For the sharp minds</p>
                <h1 class="text-white">Analysis Guru<br>
                </h1>
                <p><span> Be a thinker, scrutinize and give your critique</span></p>
                <p>
                    We will shoot you an idea, you would need to understand it thoroughly and explain the pros,cons and suggestions to bolster the idea.
                    <br> Level 1 : Competitor has to provide a critique on LifeOfGirl's concept (a startup working for women safety, details will be provided)
                    <br> Level 2 : For the selected candidates from round one, a specific problem is put forward to solve/analyze and give a critique
                    <br> Level 3 : The finalists would all be given a timed competition(online via Skype). The analysis has to be submitted in a maximum of 700 words, in a bullet point format.
                    <!--	Registration link :<a href="https://docs.google.com/forms/d/1B4gdv773whlWhsenreSX-s37Z2Fy3mf7v2WApz0QaVA/edit" 
              target="#" class="heading"><b>CLICK HERE</b></a> -->
                    <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->


<!-- Start home-video Area -->
<section class="home-video-area" id="speakers">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">The competitions</p>
                <h1>Flash Mob
                </h1>
                <p><span>Showcase your dance skills as a group</span></p>
                <p>
                    You would need to perform a flash mob in your own college for 4 songs: <br> a) Use songs from 4 different languages b) One song should be regarding girl child or women<br> c) The flash mob has to be recorded and submitted(youtube link)
                    to Lifeofgirl team ( upload link will be provided)<br> d) Video format : i) Introduction ii) Dance video iii) Message.<br> Time
                    < 4 mins <br> Size
                        < 100 mb e) Winners are decided by distinguished judges based on popularity, impact, uniqueness and energy. <!-- <br> Registration link : <a href="https://docs.google.com/forms/d/1bzvcn4H2ZtGQKQ4j5uabO7YnAKlQQE7MC0-e2ksJues/edit" target="#" class="heading"><b>CLICK HERE</b></a><br> -->
                            <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b>
                </p>
            </div>
            <section class="video-area col-lg-6 no-padding">
                <div class="overlay overlay-bg"></div>
                <div class="containers">
                    <div class="video-content">
                        <img src="../../../assets/img/about1.jpg" alt="" height="300" width="673">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->


<!-- Start home-aboutus Area -->
<section class="home-aboutus-area" id="schedule">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding about-left">
                <img class="img-fluid" src="../../../assets/img/coding.jpg" alt="" height="300" width="700">
            </div>
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">Coders</p>
                <h1 class="text-white"> The coding challenge<br>
                </h1>
                <p><span>Showcase your coding skill</span></p>
                <p>
                    Let's put your coding skills to use, for a social project. Android/ IOS apps / webapps build for women security are eligible for the competition to enter into round one.
                    <br> Criterion for selection: a) Innovation<br> b) Feasiblity<br> c) Ease of use<br> d) Scalability<br> First step :
                    <!-- Registration
                       <a href="https://docs.google.com/forms/d/1NYmbQzwcjcHMQ2Tg_xWN5fiVK6FMZNCn21U2Qh64cx0/edit" 
                       target="#" class="heading"><b>CLICK HERE</b></a><br>  -->
                    <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b> Step two : Acceptance of terms and conditions <br> Step three
                    : Apk & demo video submission Step four : Level 2 - Online Hackathon on given idea Step five : Final Hackathon in T-Hub,Hyderabad ( virtual participation is allowed)
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->

<!-- Start home-video Area -->
<section class="home-video-area" id="film">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">Entertainment enthusiasts</p>
                <h1> Are you crazy about movies <br>
                </h1>
                <p><span> Short film contest </span></p>
                <p>
                    Applicant can participate in two categories Category 1:
                    <br> a) Women security
                    <br> b) Women empowerment / Role of a woman
                    <br> c) Misuse of woman-label by women
                    <br> d) Love of parents / siblings /family Category 2: Advertisement /documentary / short film
                    <br> a) Instant security and/or safe heaven concept of LifeOfGirl ( www.lifeofgirl.org ->safe heaven )
                    <br> b) LifeOfGirl vision (www.lifeofgirl.org) Time :
                    < 5mins Size : < 100 mb Upload link and other details : <b>will be updated soon </b>
                        <!--	<br> Registration link : <a href=" https://docs.google.com/forms/d/1UZED9S6pSC4ukaC6JvLAUgsXSauoGfnsXrViVlMs4k4/edit" 
                            target="#" class="heading"><b>CLICK HERE</b></a>   -->
                        <br> Winners are decided by distinguished judges based on popularity, impact, uniqueness and energy.
                        <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b>
                </p>
            </div>
            <section class="video-area col-lg-6 no-padding">
                <div class="overlay overlay-bg"></div>
                <div class="containers">
                    <div class="video-content">
                        <img src="../../../assets/img/shortfilm.jpg" alt="" height="300" width="673">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->

<section class="home-aboutus-area" id="pubg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding about-left">
                <img class="img-fluid" src="../../../assets/img/pubg.jpg" alt="" height="300" width="700">
            </div>
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">PUBG</p>
                <h1 class="text-white">The best chicken dinner<br>
                </h1>
                <p><span>Showcase your gaming skills</span></p>

                <p>
                    Let's put your gaming skills to use. Play PUBG and win against warriors all over India.
                    <br> Process : Local games -> Top 2 Zonal games -> Top 2 Semi final -> Top 10 Finals -> Top 2 First step :
                    <!-- Registration
                       <a href="https://docs.google.com/forms/d/1JwunZYl1P-WLY0pGDnp6UiH9fseFhfZi6m9Md6i0C4M/edit" 
                       target="#" class="heading"><b>CLICK HERE</b></a><br>   -->
                    <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b> Step two : Acceptance of terms and conditions <br> Step three
                    : Play all level competition Step four : Win the finals and have chicken dinner
                </p>
            </div>
        </div>
    </div>
</section>

<section class="home-video-area" id="tiktok">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">Tik tok</p>
                <h1> are you a specialist<br>
                </h1>
                <p><span> Tik tok contest </span></p>
                <p>
                    Tik Tok competition :
                    <br> Showcase your TikTok skills to the nation. Be a TikTok winner.
                    <br> 1) Level 1 submission :Make a video which is not obscene and submit to us.
                    <br> 2) Level 2 : Level 1 winners provide a second tik tok video which is posted on safeathon page and website. The most popular videos go the next round.
                    <br> 3) Level 3 : Level 2 winners are given topic for tik tok video and LifeOfGirl hosts the video for likes & comments.
                    <br> 4) Top 2 TikTokers are crowned, rewarded and published by Safeathon & LifeOfGirl.
                    <!--<br> Registration link : <a href=" https://docs.google.com/forms/d/1UZED9S6pSC4ukaC6JvLAUgsXSauoGfnsXrViVlMs4k4/edit" 
                            target="#" class="heading"><b>CLICK HERE</b></a> -->
                    <br> Registration link : <b> <a [routerLink]="['/events']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success">Register</button></a> </b>
                </p>
            </div>
            <section class="video-area col-lg-6 no-padding">
                <div class="overlay overlay-bg"></div>
                <div class="containers">
                    <div class="video-content">
                        <img src="../../../assets/img/tiktok.jpg" alt="" height="300" width="673">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Start home-video Area -->
<section class="home-video-area">
    <div class="container-fluid bgcolor">
        <div>
            <div>

                <br><br>
                <h1 class="whyJoin"> Why join us</h1><br>
                <div class="texts"><br>
                    <p>
                        <h4>
                            <div class="heading">
                                Network :</div>
                        </h4>
                        Thousands of enthusiastic students from all over the world participate in Safeathon 1.0. You can network with each of them using the networking tool.<br><br>

                        <h4>
                            <div class="heading">
                                Recognition :</div>
                        </h4>

                        Along with the awards & rewards, the winners are specially advertised in all LOG channels.<br><br>

                        <h4>
                            <div class="heading">
                                Role in LOG:</div>
                        </h4>
                        The best of the participants in various fields would be choosen and given an opportunity to work with LOG core team.
                </div>
                <br><br>
            </div>
        </div>
    </div>
</section>

<!-- End home-aboutus Area -->




<!-- Start spekers Area -->
<section class="spekers-area pb-100" id="speakers">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="active-speaker-carusel col-lg-12 no-padding">
                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <img src="../../../assets/img/s1.jpg" alt="">
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">JUDGE 01</h6>
                                <h1 class="text-white">published soon</h1>
                                <p>
                                    He/She is an experienced campaigner in the dancing arena. He/She has acted as Judge for similar contests many a time.
                                </p>
                                <p><span class="lnr lnr-phone-handset"></span>to be updated</p>
                                <p><span class="lnr lnr-location"></span>to be updated</p>
                                <ul>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <img src="../../../assets/img/s2.jpg" alt="">
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">JUDGE 02</h6>
                                <h1 class="text-white">Published soon</h1>
                                <p>
                                    He/She is an experienced campaigner in the software arena. He/She has been serving the software industry since a long time.

                                </p>
                                <p><span class="lnr lnr-phone-handset"></span>to be updated</p>
                                <p><span class="lnr lnr-location"></span>to be updated</p>
                                <ul>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <img src="../../../assets/img/s1.jpg" alt="">
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">JUDGE 03</h6>
                                <h1 class="text-white">published soon</h1>
                                <p>
                                    He/She is an experienced campaigner in the dancing arena. He/She has acted as Judge for similar contests many a time.
                                </p>
                                <p><span class="lnr lnr-phone-handset"></span>to be updated</p>
                                <p><span class="lnr lnr-location"></span>to be updated</p>
                                <ul>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <img src="../../../assets/img/s2.jpg" alt="">
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">JUDGE 04</h6>
                                <h1 class="text-white">published soon</h1>
                                <p>
                                    He/She is an experienced campaigner in the movie industry. He/She has acted as Judge for similar contests many a time.
                                </p>
                                <p><span class="lnr lnr-phone-handset"></span>to be updated</p>
                                <p><span class="lnr lnr-location"></span>to be updated</p>
                                <ul>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End spekers Area -->


<!-- Start schedule Area -->
<!-- <section class="schedule-area pb-100" id="schedule">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">How Our Customers Treat Us</h1>
              <p>Who are in extremely love with eco friendly system.</p>
            </div>
          </div>
        </div>						
        <div class="row">
          <div class="table-wrap col-lg-12">
            <table class="schdule-table table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th class="head" scope="col">sl</th>
                    <th class="head" scope="col">session</th>
                    <th class="head" scope="col">speaker</th>
                    <th class="head" scope="col">vanue</th>
                    <th class="head" scope="col">time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="name" scope="row">01</th>
                    <td>Reception & Taling Seats</td>				      
                    <td>Isabelle Cooper</td>				      
                    <td>3rd Hall Room</td>				      
                    <td>02.00</td>					      
                  </tr>
                  <tr>
                    <th class="name" scope="row">02</th>
                    <td>Breakfast and rest</td>				      
                    <td>N/A</td>				      
                    <td>4th Hall Room</td>				      
                    <td>02.00</td>						      
                  </tr>
                  <tr>
                    <th class="name" scope="row">03</th>
                    <td>Reception & Taling Seats</td>				      
                    <td>Jane Daniel</td>				      
                    <td>2nd Hall Room</td>				      
                    <td>02.00</td>						      
                  </tr>
                  <tr>
                    <th class="name" scope="row">04</th>
                    <td>Next generation speech</td>				      
                    <td>Billy Barton</td>				      
                    <td>1st Hall Room</td>				      
                    <td>02.00</td>						      
                  </tr>
                  <tr>
                    <th class="name" scope="row">05</th>
                    <td>Sppech for young people</td>				      
                    <td>Flora Gonzales</td>				      
                    <td>4rd Hall Room</td>				      
                    <td>02.00</td>					      
                  </tr>
                  <tr>
                    <th class="name" scope="row">06</th>
                    <td>Lunch Break</td>				      
                    <td>N/A</td>				      
                    <td>3rd Hall Room</td>				      
                    <td>02.00</td>					      
                  </tr>
                  <tr>
                    <th class="name" scope="row">07</th>
                    <td>Sppech for Middle aged people</td>				 
                    <td>Francisco Barrett</td>				      
                    <td>1st Hall Room</td>				      
                    <td>02.00</td>					      
                  </tr>											    
                </tbody>
            </table>							
          </div>
        </div>
      </div>	
    </section> -->
<!-- End schedule Area -->