<!-- <form (submit)="twitterlogin()">
    <input type="submit" class="btn btn-primary" value="twitter">
</form> -->
<!-- <a href="https://localhost:3000/auth/facebook">fb</a>
<br>-->
<!-- <a href="http://localhost:3000/auth/twitter">twitter</a> -->


<h1>
    Sign in
</h1>

<button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<button (click)="socialSignIn('google')">Sign in with Google</button>