<div class="eve">
    <div class="table-responsive">

        <!--Table-->
        <table class="table align-items-center">

            <!--Table head-->
            <thead>
                <tr>
                    <th>Event</th>
                    <th class="th-sm">Reg Status</th>
                    <th class="th-sm">Payment Staus</th>
                    <th class="th-sm">Upload Document</th>
                    <th class="th-sm">Video Link</th>
                    <!-- <th class="th-sm">Lorem ipsum dolor</th> -->
                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr>
                    <th> My Idea</th>
                    <td *ngIf="!UserDetails.events.MyIdea_reg"><button (click)="onupdate(1,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.MyIdea_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.MyIdea_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.MyIdea_payment"><i class="material-icons">done </i></td>
                    <td *ngIf="!UserDetails.events.MyIdea_doc">
                        <input type="file" class="" (change)="upload($event)" accept=".png,.jpg" [disabled]="!UserDetails.events.MyIdea_reg" />

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">

                            </div>

                        </div>
                        <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                            <input type="submit" class="btn btn-info" value="submit" (click)="onupdate(1,3)">
                        </div>
                    </td>
                    <td *ngIf="UserDetails.events.MyIdea_doc"><i class="material-icons">done </i></td>

                    <td *ngIf="!UserDetails.events.MyIdea_link">
                        <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm">
                            <mat-form-field>
                                <input matInput name="idea_link1" placeholder="Youtube Link" [(ngModel)]="model.link1" #firstName="ngModel" [ngClass]="{ 'is-invalid': f1.submitted && idea_link1.invalid }" [disabled]="!UserDetails.events.MyIdea_reg" required>
                            </mat-form-field>
                            <input type="submit" value="submit" class="btn btn-outline-info waves-effect" [disabled]="!UserDetails.events.MyIdea_reg">
                        </form>

                    </td>
                    <td *ngIf="UserDetails.events.MyIdea_link">
                        <!-- <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm"> -->
                        <mat-form-field>
                            <input matInput value={{UserDetails.events.MyIdea_link}} [disabled]="true">
                        </mat-form-field>
                        <!-- <input type="submit" value="submit"> -->
                        <!-- </form> -->


                    </td>


                </tr>
                <tr>
                    <th>Analysis guru</th>
                    <td *ngIf="!UserDetails.events.AnalysisGuru_reg"><button (click)="onupdate(2,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.AnalysisGuru_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.AnalysisGuru_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.AnalysisGuru_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->
                    <td *ngIf="!UserDetails.events.AnalysisGuru_doc ">
                        <input type="file" (change)="upload2($event)" accept=".png,.jpg" [disabled]="!UserDetails.events.AnalysisGuru_reg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress2 | async) + '%'" [attr.aria-valuenow]="(uploadProgress2 | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div *ngIf="downloadURL2 | async; let downloadSrc" class="alert alert-info" role="alert">
                            <input type="submit" class="btn btn-info" value="submit" (click)="onupdate(2,3)">
                        </div>


                    </td>
                    <td *ngIf="UserDetails.events.AnalysisGuru_doc"><i class="material-icons">done </i></td>

                    <td *ngIf="!UserDetails.events.AnalysisGuru_link">
                        <form name="form" (ngSubmit)="f2.form.valid && get_link(2)" #f2="ngForm">
                            <mat-form-field>
                                <input matInput name="idea_link2" placeholder="Youtube Link" [(ngModel)]="model.link2" #firstName="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && idea_link2.invalid }" [disabled]="!UserDetails.events.AnalysisGuru_reg" required>
                            </mat-form-field>
                            <input type="submit" value="submit" class="btn btn-outline-info waves-effect" [disabled]="!UserDetails.events.AnalysisGuru_reg">
                        </form>
                    </td>
                    <td *ngIf="UserDetails.events.AnalysisGuru_link">
                        <!-- <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm"> -->
                        <mat-form-field>
                            <input matInput value={{UserDetails.events.AnalysisGuru_link}} [disabled]="true">
                        </mat-form-field>
                        <!-- <input type="submit" value="submit"> -->
                        <!-- </form> -->

                    </td>

                </tr>
                <tr>
                    <th>Flash Mob</th>
                    <td *ngIf="!UserDetails.events.FlashMob_reg"><button (click)="onupdate(3,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.FlashMob_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.FlashMob_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.FlashMob_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->
                    <td>
                        <!-- <input [disabled]="true" type="file" (change)="upload($event)" accept=".png,.jpg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->

                    </td>
                    <td *ngIf="!UserDetails.events.FlashMob_link">
                        <form name="form" (ngSubmit)="f3.form.valid && get_link(3)" #f3="ngForm">
                            <mat-form-field>
                                <input matInput name="idea_link3" placeholder="Youtube Link" [(ngModel)]="model.link3" #firstName="ngModel" [ngClass]="{ 'is-invalid': f3.submitted && idea_link3.invalid }" [disabled]="!UserDetails.events.FlashMob_reg" required>
                            </mat-form-field>
                            <input type="submit" value="submit" class="btn btn-outline-info waves-effect" [disabled]="!UserDetails.events.FlashMob_reg">
                        </form>
                    </td>
                    <td *ngIf="UserDetails.events.FlashMob_link">
                        <!-- <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm"> -->
                        <mat-form-field>
                            <input matInput value={{UserDetails.events.FlashMob_link}} [disabled]="true">
                        </mat-form-field>
                        <!-- <input type="submit" value="submit"> -->
                        <!-- </form> -->

                    </td>
                </tr>

                <tr>
                    <th>Coding challenge</th>
                    <td *ngIf="!UserDetails.events.CoadingChallenge_reg"><button (click)="onupdate(4,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.CoadingChallenge_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.CoadingChallenge_payment">
                        <button mat-stroked-button color='primary'>Make_Payment</button>
                    </td>
                    <td *ngIf="UserDetails.events.CoadingChallenge_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->
                    <td>
                        <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                        </div> -->
                    </td>
                    <td>
                        <!-- <mat-form-field>
                            <input matInput placeholder="Youtube Link">
                        </mat-form-field>
                        <input type="submit" value="submit"> -->
                    </td>
                </tr>
                <tr>
                    <th>Short film</th>
                    <td *ngIf="!UserDetails.events.ShortFilm_reg"><button (click)="onupdate(5,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.ShortFilm_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.ShortFilm_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.ShortFilm_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->

                    <td>
                        <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                        </div> -->
                    </td>
                    <td *ngIf="!UserDetails.events.ShortFilm_link">
                        <form name="form" (ngSubmit)="f4.form.valid && get_link(5)" #f4="ngForm">
                            <mat-form-field>
                                <input matInput name="idea_link4" placeholder="Youtube Link" [(ngModel)]="model.link4" #firstName="ngModel" [ngClass]="{ 'is-invalid': f4.submitted && idea_link4.invalid }" [disabled]="!UserDetails.events.ShortFilm_reg" required>
                            </mat-form-field>
                            <input type="submit" value="submit" class="btn btn-outline-info waves-effect" [disabled]="!UserDetails.events.AhortFilm_reg">
                        </form>
                    </td>
                    <td *ngIf="UserDetails.events.ShortFilm_link">
                        <!-- <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm"> -->
                        <mat-form-field>
                            <input matInput value={{UserDetails.events.ShortFilm_link}} [disabled]="true">
                        </mat-form-field>
                        <!-- <input type="submit" value="submit"> -->
                        <!-- </form> -->

                    </td>
                </tr>
                <tr>
                    <th>PubG</th>
                    <td *ngIf="!UserDetails.events.PubG_reg"><button (click)="onupdate(6,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.PubG_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.PubG_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.PubG_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->
                    <td>
                        <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                        </div> -->
                    </td>
                    <td>
                        <!-- <mat-form-field>
                            <input matInput placeholder="Youtube Link">
                        </mat-form-field>
                        <input type="submit" value="submit"> -->
                    </td>
                </tr>
                <tr>
                    <th>TikTok</th>
                    <td *ngIf="!UserDetails.events.TikTok_reg"><button (click)="onupdate(7,1)" type="button" class="btn btn-success">Register</button></td>
                    <td *ngIf="UserDetails.events.TikTok_reg"><button [disabled]="true" type="button" class="btn btn-success">Regisered</button></td>
                    <td *ngIf="!UserDetails.events.TikTok_payment"><button mat-stroked-button color='primary'>Make_Payment</button></td>
                    <td *ngIf="UserDetails.events.TikTok_payment"><i class="material-icons">done </i></td>
                    <!-- <td>Lorem ipsum dolor</td> -->
                    <td>
                        <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
                        </div> -->
                    </td>
                    <td *ngIf="!UserDetails.events.TikTok_link">
                        <form name="form" (ngSubmit)="f5.form.valid && get_link(7)" #f5="ngForm">
                            <mat-form-field>
                                <input matInput name="idea_link5" placeholder="Youtube Link" [(ngModel)]="model.link5" #firstName="ngModel" [ngClass]="{ 'is-invalid': f5.submitted && idea_link5.invalid }" [disabled]="!UserDetails.events.TikTok_reg" required>
                            </mat-form-field>
                            <input type="submit" value="submit" class="btn btn-outline-info waves-effect" [disabled]="!UserDetails.events.TikTok_reg">
                        </form>
                    </td>
                    <td *ngIf="UserDetails.events.TikTok_link">
                        <!-- <form name="form" (ngSubmit)="f1.form.valid && get_link(1)" #f1="ngForm"> -->
                        <mat-form-field>
                            <input matInput value={{UserDetails.events.TikTok_link}} [disabled]="true">
                        </mat-form-field>
                        <!-- <input type="submit" value="submit"> -->
                        <!-- </form> -->

                    </td>

                </tr>


            </tbody>
            <!--Table body-->

        </table>
        <!--Table-->

    </div>
</div>

<!-- <div class="container">
    <button md-raised-button color="primary" (click)="fileInput.click()">Upload</button>
    <input hidden type="file" #fileInput>
</div> -->

<!-- <div class="container">
    <div class="card">
        <div class="card-header">
            Firebase Cloud Storage & Angular 5
        </div>
        <div class="card-body">
            <h5 class="card-title">Select a file for upload:</h5>
            <input type="file" (change)="upload($event)" accept=".png,.jpg" /> 
        </div>
    </div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
</div> -->